
.navigation {
    // border: 1px solid black;
    
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 375px;
    margin-right: 698px;


    .logo {
        margin-right: 161px;
    }

    .nav-actions {
        
        display: flex;
        align-items: center;
        
      
        .navigation-items {
            width: 847px;
            display: flex;
            list-style: none;
            gap: 40px;
            align-items: center;
            font-family:'Product Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            // line-height: 19px;
        }
    }

}