.sec5 {
    // padding: 0 19%;
    margin: 0 auto;


    .sec5info {




        height: 500px;
        margin-top: 300px;
        background-image: url(../images/BG.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 100px;
        position: relative;

        .screen1 {
            width: 628px;
            height: 650px;
            // border: 1px solid red;
            position: absolute;
            top: -18%;
            left: 47%;
            background-image: url(../images/screenopwi.png);
            background-position: center;
            background-color: transparent;
            // border-radius: 20%;

        }

        .sec5div {

            padding-left: 21%;
            padding-top: 100px;
            padding-right: 43%;

            h3 {
                width: 47%;

                font-weight: 700;
                font-size: 40px;
                line-height: 49px;

                color: #FFFFFF;
                margin-bottom: 50px;

            }

            .andr {
                margin-right: 15px;
                cursor: pointer;
            }
            .iphone{
                cursor: pointer;
            }

        }





    }


}

@media screen and (max-width:1800px) {
    .sec5 {
        .sec5info {
            .sec5div {
                display: flex;
                flex-direction: column;

                .andr {
                    width: 200px;
                    height: 60px;
                    margin-bottom: 10px;
                }

                .iphone {
                    width: 200px;
                    height: 60px;
                }

            }
        }
    }

}

@media screen and (max-width:1440px) {
    .sec5 {
        .sec5info {
            .sec5div {
                padding-left: 11%;

            }
        }
    }

}

@media screen and (max-width:1205px) {
    .sec5 {
        .sec5info {
            .sec5div {
                padding-left: 5%;

            }
        }
    }

}

@media screen and (max-width:1202px) {
    .sec5 {
        .sec5info {
            .screen1 {
                left: 38%;

            }
        }
    }

}

@media screen and (max-width:1040px) {
    .sec5 {
        .sec5info {

            .screen1 {
                display: none;
            }

            .sec5div {
                padding-left: 36%;
                padding-right: 0;
                position: relative;
            }

            .sec5div ::after {

                content: "";
                position: absolute;
                top: -83px;
                left: 103px;
                background-image: url(../images/screenopwi.png);
                background-repeat: no-repeat;
                width: 78%;
                height: 195%;
                z-index: 1;
                opacity: .35;
                filter: blur(3px);

            }
        }
    }

}

@media screen and (max-width:850px) {
    .sec5 {
        .sec5info {
            .sec5div ::after {

                content: "";
                position: absolute;
                top: -83px;
                left: 50px;
                background-image: url(../images/screenopwi.png);
                background-repeat: no-repeat;
                width: 93%;
                height: 195%;
                z-index: 1;
                opacity: .35;
                filter: blur(3px);

            }
        }
    }

}

@media screen and (max-width:757px) {
    .sec5 {
        .sec5info {
            .sec5div ::after {

                content: "";
                position: absolute;
                top: -83px;
                left: 50px;
                background-image: url(../images/screenopwi.png);
                background-repeat: no-repeat;
                width: 93%;
                height: 195%;
                z-index: 1;
                opacity: .35;
                filter: blur(3px);

            }
        }
    }

}

@media screen and (max-width:735px) {
    .sec5 {
        .sec5info {
            .sec5div ::after {

                content: "";
                position: absolute;
                top: -83px;
                left: -18px;
                background-image: url(../images/screenopwi.png);
                background-repeat: no-repeat;
                
                width: 93%;
                height: 195%;
                z-index: 1;
                opacity: .35;
                filter: blur(3px);

            }
        }
    }

}



@media screen and (max-width:617px) {
    .sec5 {
        .sec5info {
            .sec5div ::after {

                content: "";
                position: absolute;
                top: -83px;
                left: -18px;
                background-image: url(../images/screenopwi.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 93%;
                height: 195%;
                z-index: 1;
                opacity: .35;
                filter: blur(3px);

            }
        }
    }

}

@media screen and (max-width:505px) {
    .sec5 {
        .sec5info {
            .sec5div ::after {

                content: "";
                position: absolute;
                top: -83px;
                left: 45px;
                background-image: url(../images/screenopwi.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 79%;
                height: 195%;
                z-index: 1;
                opacity: 0.35;
                filter: blur(3px);

            }
        }
    }

}

@media screen and (max-width:685px) {
    .sec5 {
        .sec5info {
            .sec5div{
                display: block;
                padding-left: 30%;
                .andr {
                    width: 200px;
                    height: 80px;
                    margin-bottom: 0;
                    
                    
                    
                }

                .iphone {
                    width: 200px;
                    height: 80px;
                }

                h3{
                    width: 80%;
                }
            }
        }
    }

}

@media screen and (max-width:563px) {
    .sec5 {
        .sec5info {
            .sec5div{
                display: block;
                padding-left: 30%;
                .andr {
                    width: 200px;
                    height: 80px;
                    
                    
                    
                    
                }

                .iphone {
                    width: 200px;
                    height: 80px;
                }

                h3{
                    width: 80%;
                    margin-bottom: 10px;
                }
            }
        }
    }

}
