.section1 {
    .background-img {
        position: absolute;
        width: 945px;
        height: 750px;
        left: 975px;
        top: 0px;
        background: url(../images/background-back.png);
        border-radius: 375px 0 0 375px;
        z-index: -1;

        .sushi-cubuq {

            position: absolute;
            width: 945px;
            height: 750px;
            left: 975px;
            top: 0px;
            
    
        }
    }

    
}