.section1 {
    padding-top: 141px;
    padding-left: 20%;
    padding-right: 375px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;

    h1 {

        font-weight: 700;
        font-size: 75px;
        line-height: 91px;
        color: #000000;
        padding-right: 58%;
    }

    .lorem {
        margin-top: 15px;
        padding-right: 50%;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #888888;

    }

    .button-arrow {
        margin-top: 45px;
        background: #F16214;
        border-radius: 54px;
        width: 170px;
        height: 50px;
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease-in;

        .get {
            position: absolute;
            width: 87px;
            height: 24px;
            left: 19px;
            top: 13px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #FFFFFF;
        }

        .arrow-img {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 125px;
            top: 5px;
        }

    }
    .button-arrow:hover{
        transform: translateY(-15px);
    }

    .button-arrow::after{
        background-color: #F16214;
        content: "";
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s ease-in;
    }
    .button-arrow:hover::after {
     
        transform: scaleX(1.5) scaleY(1.6);
        opacity: 0;
        
    }

    .sosial-media {
        margin-top: 40px;
        // border: 1px solid black;

        display: flex;
        gap: 23px;

    }

    .info {
        // border: 1px solid red;

        margin-top: 110px;
        background: #FFFFFF;
        box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
        border-radius: 60px 0px;
        display: flex;
        

        padding-left: 10%;
        padding-top: 60px;
        padding-bottom: 60px;
        // position: relative;

        .worktime {
            // border: 1px solid red;

            // position: absolute;
            // top: 60px;
            // left: 87px;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-right: 10%;

            .wki {
                margin-bottom: 10%;
                margin-left: 39%;
                width: 40px;
                height: 40px;
            }

            .wp1 {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                margin-bottom: 6px;
            }

            .wp2 {
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #888888;
            }
        }

        // .line1 {
        //     width: 0px;
        //     height: 97px;
        //     border: 1.5px solid #DDDDDD;
        //     border-left: none;
        //     margin-top: 60px;
        //     margin-left: 385px;
        // }
        .location {
            // width: 400px;
            // height: 97px;
            // position: absolute;
            // top: 60px;
            // left: 385px;
            display: flex;
            flex-direction: column;
            text-align: center;
            border-left: 2px solid #DDDDDD;
            border-right: 2px solid #DDDDDD;


            padding-left: 10%;
            padding-right: 10%;

            .loi {
                margin-bottom: 16px;
                margin-left: 38%;
                width: 40px;
                height: 40px;
            }

            .lp1 {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                margin-bottom: 6px;
            }

            .lp2 {
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #888888;
            }
        }

        // .line2 {
        //     width: 0px;
        //     height: 97px;
        //     border: 1.5px solid #DDDDDD;
        //     border-left: none;
        //     margin-top: 60px;
        //     margin-left: 785px;
        // }

        .tel {

            display: flex;
            flex-direction: column;
            text-align: center;
            padding-left: 13%;
            padding-right: 10%;

            .tei {
                margin-bottom: 16px;
                margin-left: 32px;
                width: 40px;
                height: 40px;
            }

            .tp1 {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                margin-bottom: 6px;
            }

            .tp2 {
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                color: #888888;
            }

        }

    }
}
@media screen and (max-width: 1840px) {
    .section1{
        padding-left: 10%;
    }

}
@media screen and (max-width: 1640px) {
    .section1{
        padding-left: 26%;
        position: relative;
         h1{
            padding-right: 0;
            text-align: center;
         }
         .lorem{
            padding-left: 0;
            text-align: center;
            width: 144%;
         }
         .button-arrow{
            margin-left: 36%;
            z-index: 2;
         }
         .sosial-media{
            padding-left: 32%;
         }
    }
    .section1::after{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: url(../images/birincii.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0.25;
        filter: blur(10px);
    }

}

@media screen and (max-width: 1400px) {
    .section1::after{
        content: "";
        position: absolute;
        top: 0px;
        left:-15%;
        background-image: url(../images/birincii.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 115%;
        height: 80%;
        z-index: 1;
        opacity: 0.25;
        filter: blur(10px);
    }

}
// @media screen and (max-width: 1063px) {
//     .section1::after{
//         content: "";
//         position: absolute;
//         top: 0px;
//         left:-15%;
//         background-image: url(../images/birincii.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//         width: 100%;
//         height: 67%;
//         z-index: 1;
//         opacity: 0.25;
//         filter: blur(10px);
//     }

// }
// @media screen and (max-width: 990px) {
//     .section1::after{
//         content: "";
//         position: absolute;
//         top:101px;
//         left:-15%;
//         background-image: url(../images/birincii.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//         width: 100%;
//         height: 55%;
//         z-index: 1;
//         opacity: 0.25;
//         filter: blur(10px);
//     }

// }
@media screen and (max-width:880px) {
    .section1::after {
        content: "";
        position: absolute;
        top: 0px;
        left: -46%;
        background-image: url(../images/birincii.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 146%;
        height: 82%;
        z-index: 1;
        opacity: 0.25;
        filter: blur(10px);
    }
}
@media screen and (max-width:615px) {
    .section1::after {
        content: "";
        position: absolute;
        top: 0px;
        left: -54%;
        background-image: url(../images/birincii.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 151%;
        height: 73%;
        z-index: 1;
        opacity: 0.25;
        filter: blur(10px);
    }
}
// @media screen and (max-width:690px) {
//     .section1::after {
//         content: "";
//         position: absolute;
//         top: 0px;
//         left: -75%;
//         background-image: url(../images/birincii.png);
//         background-repeat: no-repeat;
//         background-size: cover;
//         width: 171%;
//         height: 72%;
//         z-index: 1;
//         opacity: 0.25;
//         filter: blur(10px);
//     }
   

// }
@media screen and (max-width: 1150px) {
    .section1 h1{
        font-size: 55px;
    }
//    .section1 .button-arrow{
//         margin-left: 30%;
//      }
//     .section1 .sosial-media{
//         padding-left: 23%;
//      }
}
@media screen and (max-width: 545px) {
   
   .section1 .button-arrow{
        margin-left: 25%;
     }
    .section1 .sosial-media{
        padding-left: 20%;
     }
}


@media screen and (max-width: 1310px) {
    .section1{
        padding-right: 10%;
        padding-left: 10%;

        h1{
            // width: 70%;
            text-align: center;
        }

        .lorem{
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    
}


@media screen and (max-width: 887px) {
    .section1 {

        .info {
            flex-direction: column;
            padding-left: 0;
            align-items: center;
            .worktime {
                margin-right: 0;
                margin-bottom: 30px;
            }

            .tel {
                padding-left: 7%;

                // .tei{}
            }

            .location {
                border-left: none;
                border-right: none;
                border-top: 2px solid #DDDDDD;
                border-bottom: 2px solid #DDDDDD;
                margin-bottom: 30px;
                padding-top: 5%;
                padding-bottom: 5%;
            }
        }
    }
}

