.sec5 {
    // padding: 0 19%;
    margin: 0 auto;


    .sec5info {




        height: 500px;
        margin-top: 300px;
        background-image: url(../images/BG.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 100px;
        position: relative;

        .screen1{
            width: 628px;
            height: 650px;
            // border: 1px solid red;
            position: absolute;
            top: -18%;
            left: 47%;
            background-image: url(../images/screenopwi.png);
            background-position: center;
            background-color: transparent;
            // border-radius: 20%;

        }

        .sec5div {

            padding-left: 21%;
            padding-top: 100px;
            padding-right: 43%;
            h3 {
                width: 47%;
                
                font-weight: 700;
                font-size: 40px;
                line-height: 49px;

                color: #FFFFFF;
                margin-bottom: 50px;
                
            }

            .andr {
                margin-right: 15px;
            }


        }





    }


}