.sec7 {
    height: 500px;
    padding-left: 20%;
    margin-top: 200px;
    margin-bottom: 100px;
    background-image: url(../images/hamburgerbg.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 58%;
    margin: 0 auto;
    display: flex;
    gap: 120px;

    // justify-content: space-between;
    //    .hamburger{
    //     width: 460px;
    //     height: 460px;
    //    }
    .hamburinfo {
        width: 504px;
        padding-top: 150px;

        h3 {
            font-weight: 700;
            font-size: 40px;
            line-height: 49px;
            /* identical to box height */


            color: #FFFFFF;

        }

        p {

            // height: 45px;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */


            color: #888888;
            margin-top: 15px;
            margin-bottom: 29px;
        }

        .mail {
            width: 95%;
            height: 60px;


            background: #FFFFFF;

            border-radius: 13px;
            display: flex;
            justify-content: space-between;

            .inputmail {

                width: 66%;
                height: 30px;
                margin-top: 15px;
                margin-left: 20px;
                outline: none;
                border: none;
            }

            .inputmail::placeholder {
                font-weight: 400;
                font-size: 13px;
                line-height: 150%;
                /* identical to box height, or 20px */


                color: #CCCCCC;

            }

            .subs {
                width: 120px;
                height: 50px;
                margin-top: 5px;
                margin-right: 5px;
                background: #F16214;
                border-radius: 13px;
                padding: 13px 22px;
                border: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                /* identical to box height, or 24px */


                color: #FFFFFF;
                cursor: pointer;

            }


        }
    }
}

@media screen and (max-width:1640px) {
    .sec7{
        padding-left: 15%;
    }
    
}
@media screen and (max-width:1400px) {
    .sec7{
        padding-left: 10%;
    }
    
}
@media screen and (max-width:1230px) {
    .sec7{
        padding-left: 5%;
    }
    
}
@media screen and (max-width:1160px) {
    .sec7{

        padding-left: 28%;
        .hamburger{
            display: none;
        }
        .hamburinfo{
            position: relative;

            p{
             color:wheat ;
            }

            .mail{
                position: relative;
                z-index: 1;
            }
        }

        .hamburinfo::before{
            content: "";
                    position: absolute;
                    top: 0px;
                    left: -10px;
                    background-image: url(../images/hamburger.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: 0.35;
                    filter: blur(3px);
        }
    }
    
}

@media screen and (max-width:970px) {
    .sec7{
        padding-left: 20%;
    }
    
}
@media screen and (max-width:735px) {
    .sec7{
        padding-left: 15%;
    }
    
}
@media screen and (max-width:650px) {
    .sec7{
        padding-left: 10%;
    }
    
}
@media screen and (max-width:595px) {
    .sec7{
        padding-left: 5%;
    }
    
}

@media screen and (max-width:505px) {

    .sec7 .hamburinfo{
        padding-top: 130px;
    }
    
}