.sec7 {
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 370px;
    background-image: url(../images/BG.png);
    background-repeat: no-repeat;
    background-position-x:50% ;
    background-position-y:10% ;
    .sec7div {
        // width: 1170px;
         height: 300px;
        // border: 1px solid red;
        position: relative;
        .sec7img{
            position: absolute;

            width: 460px;
            height: 460px;
            background-image: url(../images/gamburger.png);
        }
        
    }
}