@use './navigation';
@use './section1';
@use './section2';
@use './section3';
@use './section4';
@use './section5';
// @use './section6';
// @use './section7';


@font-face {
    font-family: 'Product Sans';
    font-weight: 400;
    src: url("../fonts/Product\ Sans\ Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Product Sans';

}


.main-container {
    width: 100%;
    border: 1px solid red;
    // margin: 0 auto;
    color: #272042;
    background-color: #FFFFFF;
    

    .secccc{
        background-image: url(../images/birincii.png);
        background-repeat: no-repeat;
        background-position-x: 100%;
        background-position-y: 0%;
    }
}