.navigation {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 375px;
  margin-right: 698px;
}
.navigation .logo {
  margin-right: 161px;
}
.navigation .nav-actions {
  display: flex;
  align-items: center;
}
.navigation .nav-actions .navigation-items {
  width: 847px;
  display: flex;
  list-style: none;
  gap: 40px;
  align-items: center;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.section1 .background-img {
  position: absolute;
  width: 945px;
  height: 750px;
  left: 975px;
  top: 0px;
  background: url(../images/background-back.png);
  border-radius: 375px 0 0 375px;
  z-index: -1;
}
.section1 .background-img .sushi-cubuq {
  position: absolute;
  width: 945px;
  height: 750px;
  left: 975px;
  top: 0px;
}

@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  src: url("../fonts/Product Sans Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Product Sans";
}

.main-container {
  width: 100%;
  border: 1px solid red;
  /* padding-left: 100px; */
  /* padding-right: 100px; */
  color: #272042;
  /* border: 1px solid red; */
  position: relative;
}
