.navigation {
  display: flex;
  align-items: center;
  padding-left: 20%;
  padding-right: 375px;
  padding-top: 30px;
}
.navigation .logo {
  padding-right: 9%;
  padding-top: 5px;
}
.navigation .nav-actions {
  display: flex;
  align-items: center;
}
.navigation .nav-actions .nav-button {
  background: #F16214;
  border: 1.5px solid #F16214;
  border-radius: 120px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 7px 14px;
  text-align: center;
}
.navigation .nav-actions .navigation-items {
  display: flex;
  list-style: none;
  gap: 29px;
  align-items: center;
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 25px;
}

.navigation-items li {
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.navigation-items li:hover {
  border-bottom: 1px solid #F16214;
  color: #F16214;
}

@media screen and (max-width: 1840px) {
  .navigation {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1640px) {
  .navigation {
    padding-left: 26%;
  }
}
@media screen and (max-width: 1550px) {
  .navigation {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 1230px) {
  .navigation .nav-actions {
    display: none;
  }
}
@media screen and (max-width: 530px) {
  .navigation {
    padding-left: 18%;
  }
}
.section1 {
  padding-top: 141px;
  padding-left: 20%;
  padding-right: 375px;
  display: flex;
  flex-direction: column;
  margin-bottom: 3px;
}
.section1 h1 {
  font-weight: 700;
  font-size: 75px;
  line-height: 91px;
  color: #000000;
  padding-right: 58%;
}
.section1 .lorem {
  margin-top: 15px;
  padding-right: 50%;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}
.section1 .button-arrow {
  margin-top: 45px;
  background: #F16214;
  border-radius: 54px;
  width: 170px;
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.section1 .button-arrow .get {
  position: absolute;
  width: 87px;
  height: 24px;
  left: 19px;
  top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.section1 .button-arrow .arrow-img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 125px;
  top: 5px;
}
.section1 .button-arrow:hover {
  transform: translateY(-15px);
}
.section1 .button-arrow::after {
  background-color: #F16214;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in;
}
.section1 .button-arrow:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}
.section1 .sosial-media {
  margin-top: 40px;
  display: flex;
  gap: 23px;
  z-index: 3;
}
.section1 .sosial-media .img {
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.section1 .sosial-media .img:hover {
  transform: translateY(-15px);
}
.section1 .info {
  margin-top: 110px;
  background: #FFFFFF;
  box-shadow: 0px 22px 52px rgba(0, 0, 0, 0.07);
  border-radius: 60px 0px;
  display: flex;
  padding-left: 10%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section1 .info .worktime {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 10%;
}
.section1 .info .worktime .wki {
  margin-bottom: 10%;
  margin-left: 39%;
  width: 40px;
  height: 40px;
}
.section1 .info .worktime .wp1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 6px;
}
.section1 .info .worktime .wp2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}
.section1 .info .location {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-left: 2px solid #DDDDDD;
  border-right: 2px solid #DDDDDD;
  padding-left: 10%;
  padding-right: 10%;
}
.section1 .info .location .loi {
  margin-bottom: 16px;
  margin-left: 38%;
  width: 40px;
  height: 40px;
}
.section1 .info .location .lp1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 6px;
}
.section1 .info .location .lp2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}
.section1 .info .tel {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 13%;
  padding-right: 10%;
}
.section1 .info .tel .tei {
  margin-bottom: 16px;
  margin-left: 32px;
  width: 40px;
  height: 40px;
}
.section1 .info .tel .tp1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 6px;
}
.section1 .info .tel .tp2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}

@media screen and (max-width: 1840px) {
  .section1 {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1640px) {
  .section1 {
    padding-left: 26%;
    position: relative;
  }
  .section1 h1 {
    padding-right: 0;
    text-align: center;
  }
  .section1 .lorem {
    padding-left: 0;
    text-align: center;
    width: 144%;
  }
  .section1 .button-arrow {
    margin-left: 36%;
    z-index: 2;
  }
  .section1 .sosial-media {
    padding-left: 32%;
  }
  .section1::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/birincii.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.25;
    filter: blur(10px);
  }
}
@media screen and (max-width: 1400px) {
  .section1::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -15%;
    background-image: url(../images/birincii.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 115%;
    height: 80%;
    z-index: 1;
    opacity: 0.25;
    filter: blur(10px);
  }
}
@media screen and (max-width: 880px) {
  .section1::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -46%;
    background-image: url(../images/birincii.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 146%;
    height: 82%;
    z-index: 1;
    opacity: 0.25;
    filter: blur(10px);
  }
}
@media screen and (max-width: 615px) {
  .section1::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -54%;
    background-image: url(../images/birincii.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 151%;
    height: 73%;
    z-index: 1;
    opacity: 0.25;
    filter: blur(10px);
  }
}
@media screen and (max-width: 1150px) {
  .section1 h1 {
    font-size: 55px;
  }
}
@media screen and (max-width: 545px) {
  .section1 .button-arrow {
    margin-left: 25%;
  }
  .section1 .sosial-media {
    padding-left: 20%;
  }
}
@media screen and (max-width: 1310px) {
  .section1 {
    padding-right: 10%;
    padding-left: 10%;
  }
  .section1 h1 {
    text-align: center;
  }
  .section1 .lorem {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (max-width: 887px) {
  .section1 .info {
    flex-direction: column;
    padding-left: 0;
    align-items: center;
  }
  .section1 .info .worktime {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .section1 .info .tel {
    padding-left: 7%;
  }
  .section1 .info .location {
    border-left: none;
    border-right: none;
    border-top: 2px solid #DDDDDD;
    border-bottom: 2px solid #DDDDDD;
    margin-bottom: 30px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
.sec2 .sect2 {
  display: flex;
  width: 100%;
  height: 100%;
}
.sec2 .sect2 .bckgrndd {
  width: 100%;
}
.sec2 .sect2 .towork {
  padding-top: 155px;
  display: flex;
  flex-direction: column;
}
.sec2 .sect2 .towork .how {
  padding-right: 42%;
  margin-bottom: 45px;
}
.sec2 .sect2 .towork .how .howp {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
}
.sec2 .sect2 .towork .how .howh3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.sec2 .sect2 .towork .lorem2 {
  padding-right: 37%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #888888;
}
.sec2 .sect2 .towork .button-learn {
  margin-top: 30px;
  margin-bottom: 200px;
  background: #F16214;
  border-radius: 54px;
  width: 160px;
  height: 50px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.sec2 .sect2 .towork .button-learn .lear {
  position: absolute;
  width: 87px;
  height: 24px;
  left: 19px;
  top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.sec2 .sect2 .towork .button-learn .lear-img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 115px;
  top: 5px;
}
.sec2 .sect2 .towork .button-learn:hover {
  transform: translateY(-15px);
}
.sec2 .sect2 .towork .button-learn::after {
  background-color: #F16214;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in;
}
.sec2 .sect2 .towork .button-learn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

@media screen and (max-width: 1530px) {
  .sec2 .sect2 .bckgrndd {
    width: 50%;
  }
}
@media screen and (max-width: 1480px) {
  .sec2 .sect2 .bckgrndd img {
    z-index: -1;
    opacity: 0.25;
    filter: blur(3px);
  }
}
@media screen and (max-width: 1203px) {
  .sec2 .sect2 .bckgrndd {
    width: 30%;
  }
  .sec2 .sect2 .towork {
    text-align: center;
  }
  .sec2 .sect2 .towork .button-learn {
    margin-left: 20%;
  }
}
@media screen and (max-width: 1039px) {
  .sec2 .sect2 .bckgrndd img {
    height: 78%;
  }
}
@media screen and (max-width: 974px) {
  .sec2 .sect2 .bckgrndd img {
    height: 68%;
  }
}
@media screen and (max-width: 900px) {
  .sec2 .sect2 .bckgrndd img {
    width: 1774%;
    height: 100%;
  }
  .sec2 .towork {
    padding-left: 30%;
  }
}
@media screen and (max-width: 900px) {
  .sec2 .sect2 .towork .button-learn {
    margin-left: 13%;
  }
}
@media screen and (max-width: 770px) {
  .sec2 .sect2 .bckgrndd img {
    width: 2050%;
    height: 100%;
  }
}
@media screen and (max-width: 700px) {
  .sec2 .sect2 .bckgrndd img {
    width: 2000%;
    height: 100%;
  }
}
@media screen and (max-width: 560px) {
  .sec2 .sect2 .towork .button-learn {
    margin-left: 8%;
  }
}
.sec3 {
  margin-top: 97px;
  text-align: center;
  margin-bottom: 59px;
}
.sec3 .servis {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
  margin-bottom: 6px;
}
.sec3 .favorit {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.choose {
  display: flex;
  padding-left: 18%;
  padding-right: 18%;
  margin-top: 59px;
  margin-bottom: 200px;
  gap: 30px;
}
.choose .quality {
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
  text-align: center;
}
.choose .quality .qua-img {
  width: 80px;
  height: 80px;
  margin-top: 70px;
}
.choose .quality .qua-h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-top: 44px;
}
.choose .quality .qua-p {
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #888888;
  margin: 0 26px;
  margin-top: 22px;
}
.choose .quality:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}
.choose .healty {
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
  text-align: center;
}
.choose .healty .hea-img {
  width: 80px;
  height: 80px;
  margin-top: 70px;
}
.choose .healty .hea-h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-top: 44px;
}
.choose .healty .hea-p {
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #888888;
  margin: 0 26px;
  margin-top: 22px;
  margin-bottom: 72px;
}
.choose .healty:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}
.choose .delivry {
  border: 2px solid #EEEEEE;
  border-radius: 60px 0px;
  text-align: center;
}
.choose .delivry .del-img {
  width: 80px;
  height: 80px;
  margin-top: 70px;
}
.choose .delivry .del-h5 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: #000000;
  margin-top: 44px;
}
.choose .delivry .del-p {
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
  text-align: center;
  color: #888888;
  margin: 0 26px;
  margin-top: 22px;
}

.delivry:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1300px) {
  .choose {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 890px) {
  .choose {
    flex-direction: column;
    padding-left: 25%;
    padding-right: 25%;
  }
  .choose .quality .qua-p {
    margin-bottom: 72px;
  }
  .choose .delivry .del-p {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 690px) {
  .choose {
    padding-left: 10%;
    padding-right: 10%;
  }
}
.sec4 .product {
  margin-top: 97px;
  text-align: center;
}
.sec4 .product .product-p {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
  margin-bottom: 6px;
}
.sec4 .product .product-h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.sec4 .foods {
  margin: 0 auto;
  margin-top: 59px;
  width: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  gap: 20px;
}
.sec4 .foods .sandwich {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.sec4 .foods .sandwich .writes {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.sec4 .foods .sandwich .writes .left {
  width: 151px;
  margin-top: 14px;
}
.sec4 .foods .sandwich .writes .left .gyro {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .sandwich .writes .left .cart {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.sec4 .foods .sandwich .writes .right {
  width: 48px;
  margin-top: 31px;
}
.sec4 .foods .sandwich .writes .right .img-p {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.sec4 .foods .sandwich .writes .right .img-p .san-img {
  width: 14px;
  height: 14px;
}
.sec4 .foods .sandwich .writes .right .img-p .san-star {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.sec4 .foods .sandwich .writes .right .san-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .ench {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.sec4 .foods .ench .writes1 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.sec4 .foods .ench .writes1 .left1 {
  width: 151px;
  margin-top: 14px;
}
.sec4 .foods .ench .writes1 .left1 .gyro1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .ench .writes1 .left1 .cart1 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.sec4 .foods .ench .writes1 .right1 {
  width: 48px;
  margin-top: 31px;
}
.sec4 .foods .ench .writes1 .right1 .img-p1 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.sec4 .foods .ench .writes1 .right1 .img-p1 .san-img1 {
  width: 14px;
  height: 14px;
}
.sec4 .foods .ench .writes1 .right1 .img-p1 .san-star1 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.sec4 .foods .ench .writes1 .right1 .san-price1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .beans {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.sec4 .foods .beans .writes2 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.sec4 .foods .beans .writes2 .left2 {
  width: 151px;
  margin-top: 14px;
}
.sec4 .foods .beans .writes2 .left2 .gyro2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .beans .writes2 .left2 .cart2 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.sec4 .foods .beans .writes2 .right2 {
  width: 48px;
  margin-top: 31px;
}
.sec4 .foods .beans .writes2 .right2 .img-p2 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.sec4 .foods .beans .writes2 .right2 .img-p2 .san-img2 {
  width: 14px;
  height: 14px;
}
.sec4 .foods .beans .writes2 .right2 .img-p2 .san-star2 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.sec4 .foods .beans .writes2 .right2 .san-price2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .pizza {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.sec4 .foods .pizza .writes3 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.sec4 .foods .pizza .writes3 .left3 {
  width: 151px;
  margin-top: 14px;
}
.sec4 .foods .pizza .writes3 .left3 .gyro3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .pizza .writes3 .left3 .cart3 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.sec4 .foods .pizza .writes3 .right3 {
  width: 48px;
  margin-top: 31px;
}
.sec4 .foods .pizza .writes3 .right3 .img-p3 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.sec4 .foods .pizza .writes3 .right3 .img-p3 .san-img3 {
  width: 14px;
  height: 14px;
}
.sec4 .foods .pizza .writes3 .right3 .img-p3 .san-star3 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.sec4 .foods .pizza .writes3 .right3 .san-price3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .potpie {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.sec4 .foods .potpie .writes4 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.sec4 .foods .potpie .writes4 .left4 {
  width: 151px;
  margin-top: 14px;
}
.sec4 .foods .potpie .writes4 .left4 .gyro4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .potpie .writes4 .left4 .cart4 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.sec4 .foods .potpie .writes4 .right4 {
  width: 48px;
  margin-top: 31px;
}
.sec4 .foods .potpie .writes4 .right4 .img-p4 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.sec4 .foods .potpie .writes4 .right4 .img-p4 .san-img4 {
  width: 14px;
  height: 14px;
}
.sec4 .foods .potpie .writes4 .right4 .img-p4 .san-star4 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.sec4 .foods .potpie .writes4 .right4 .san-price4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .salad {
  width: 370px;
  height: 419px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
  border-radius: 50px 0px;
}
.sec4 .foods .salad .writes5 {
  display: flex;
  justify-content: space-between;
  padding: 0 19px;
}
.sec4 .foods .salad .writes5 .left5 {
  width: 151px;
  margin-top: 14px;
}
.sec4 .foods .salad .writes5 .left5 .gyro5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .foods .salad .writes5 .left5 .cart5 {
  width: 100px;
  height: 40px;
  background: #F16214;
  border-radius: 50px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  border: none;
  color: #FFFFFF;
  margin-top: 19px;
}
.sec4 .foods .salad .writes5 .right5 {
  width: 48px;
  margin-top: 31px;
}
.sec4 .foods .salad .writes5 .right5 .img-p5 {
  display: flex;
  text-align: end;
  width: 36px;
  height: 14px;
  margin-bottom: 16px;
  padding-left: 10px;
}
.sec4 .foods .salad .writes5 .right5 .img-p5 .san-img5 {
  width: 14px;
  height: 14px;
}
.sec4 .foods .salad .writes5 .right5 .img-p5 .san-star5 {
  text-align: end;
  width: 36px;
  height: 14px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  margin-bottom: 16px;
  padding-left: 5px;
}
.sec4 .foods .salad .writes5 .right5 .san-price5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.sec4 .button-see {
  margin-top: 60px;
  background: #F16214;
  border-radius: 54px;
  width: 200px;
  height: 50px;
  position: relative;
  margin-left: 43%;
  margin-bottom: 100px;
  transition: all 0.4s ease-in;
  cursor: pointer;
}
.sec4 .button-see .get1 {
  position: absolute;
  width: 131px;
  height: 24px;
  left: 12px;
  top: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
.sec4 .button-see .arrow-img1 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 155px;
  top: 5px;
}

.button-see:hover {
  transform: translateY(-15px);
}

.button-see::after {
  background-color: #F16214;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in;
}

.button-see:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0;
}

@media screen and (max-width: 1665px) {
  .sec4 .foods {
    width: 90%;
  }
  .sec4 .button-see {
    margin: 0 auto;
    margin-top: 60px;
  }
}
.foods .sandwich:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.5);
}

.foods .ench:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.5);
}

.foods .beans:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.5);
}

.foods .pizza:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.5);
}

.foods .potpie:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.5);
}

.foods .salad:hover {
  box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.5);
}

.sec5 {
  margin: 0 auto;
}
.sec5 .sec5info {
  height: 500px;
  margin-top: 300px;
  background-image: url(../images/BG.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 100px;
  position: relative;
}
.sec5 .sec5info .screen1 {
  width: 628px;
  height: 650px;
  position: absolute;
  top: -18%;
  left: 47%;
  background-image: url(../images/screenopwi.png);
  background-position: center;
  background-color: transparent;
}
.sec5 .sec5info .sec5div {
  padding-left: 21%;
  padding-top: 100px;
  padding-right: 43%;
}
.sec5 .sec5info .sec5div h3 {
  width: 47%;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.sec5 .sec5info .sec5div .andr {
  margin-right: 15px;
  cursor: pointer;
}
.sec5 .sec5info .sec5div .iphone {
  cursor: pointer;
}

@media screen and (max-width: 1800px) {
  .sec5 .sec5info .sec5div {
    display: flex;
    flex-direction: column;
  }
  .sec5 .sec5info .sec5div .andr {
    width: 200px;
    height: 60px;
    margin-bottom: 10px;
  }
  .sec5 .sec5info .sec5div .iphone {
    width: 200px;
    height: 60px;
  }
}
@media screen and (max-width: 1440px) {
  .sec5 .sec5info .sec5div {
    padding-left: 11%;
  }
}
@media screen and (max-width: 1205px) {
  .sec5 .sec5info .sec5div {
    padding-left: 5%;
  }
}
@media screen and (max-width: 1202px) {
  .sec5 .sec5info .screen1 {
    left: 38%;
  }
}
@media screen and (max-width: 1040px) {
  .sec5 .sec5info .screen1 {
    display: none;
  }
  .sec5 .sec5info .sec5div {
    padding-left: 36%;
    padding-right: 0;
    position: relative;
  }
  .sec5 .sec5info .sec5div ::after {
    content: "";
    position: absolute;
    top: -83px;
    left: 103px;
    background-image: url(../images/screenopwi.png);
    background-repeat: no-repeat;
    width: 78%;
    height: 195%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 850px) {
  .sec5 .sec5info .sec5div ::after {
    content: "";
    position: absolute;
    top: -83px;
    left: 50px;
    background-image: url(../images/screenopwi.png);
    background-repeat: no-repeat;
    width: 93%;
    height: 195%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 757px) {
  .sec5 .sec5info .sec5div ::after {
    content: "";
    position: absolute;
    top: -83px;
    left: 50px;
    background-image: url(../images/screenopwi.png);
    background-repeat: no-repeat;
    width: 93%;
    height: 195%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 735px) {
  .sec5 .sec5info .sec5div ::after {
    content: "";
    position: absolute;
    top: -83px;
    left: -18px;
    background-image: url(../images/screenopwi.png);
    background-repeat: no-repeat;
    width: 93%;
    height: 195%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 617px) {
  .sec5 .sec5info .sec5div ::after {
    content: "";
    position: absolute;
    top: -83px;
    left: -18px;
    background-image: url(../images/screenopwi.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 93%;
    height: 195%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 505px) {
  .sec5 .sec5info .sec5div ::after {
    content: "";
    position: absolute;
    top: -83px;
    left: 45px;
    background-image: url(../images/screenopwi.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 79%;
    height: 195%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 685px) {
  .sec5 .sec5info .sec5div {
    display: block;
    padding-left: 30%;
  }
  .sec5 .sec5info .sec5div .andr {
    width: 200px;
    height: 80px;
    margin-bottom: 0;
  }
  .sec5 .sec5info .sec5div .iphone {
    width: 200px;
    height: 80px;
  }
  .sec5 .sec5info .sec5div h3 {
    width: 80%;
  }
}
@media screen and (max-width: 563px) {
  .sec5 .sec5info .sec5div {
    display: block;
    padding-left: 30%;
  }
  .sec5 .sec5info .sec5div .andr {
    width: 200px;
    height: 80px;
  }
  .sec5 .sec5info .sec5div .iphone {
    width: 200px;
    height: 80px;
  }
  .sec5 .sec5info .sec5div h3 {
    width: 80%;
    margin-bottom: 10px;
  }
}
.sec6 {
  margin-bottom: 180px;
}
.sec6 .sec6div {
  height: 644px;
  background-image: url(../images/vegetable-food-diet-health-eating-vegetables-and-fork-2eaceb13dbe391d6ddd9e988c59d4f22.png);
  background-repeat: no-repeat;
  margin-top: 150px;
}
.sec6 .sec6div .imonial {
  padding-top: 97px;
  text-align: center;
}
.sec6 .sec6div .imonial .test {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16214;
  margin-bottom: 6px;
}
.sec6 .sec6div .imonial .happy {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}
.sec6 .sec6div .esas {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sec6 .sec6div .esas .right1 {
  width: 569px;
  height: 483px;
  background-image: url(../images/lebanese-cuisine-pita-tzatziki-falafel-shawarma-mediterranean-bdbe7ab511e36f378d7bcbee34ff1608.png);
}
.sec6 .sec6div .esas .left {
  margin-top: 118px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 29%;
}
.sec6 .sec6div .esas .left .ceo-img {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}
.sec6 .sec6div .esas .left .ceo-name .ceo-namee {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.sec6 .sec6div .esas .left .ceo-name .founder {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #888888;
}
.sec6 .sec6div .esas .left .ceo-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #888888;
  margin-top: 41px;
}
.sec6 .sec6div .esas .left .arrow {
  height: 50px;
  display: flex;
  gap: 30px;
  margin: 55px auto;
}
.sec6 .sec6div .esas .left .arrow .aleft {
  border: 1.5px solid #EEEEEE;
  border-radius: 10px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
}
.sec6 .sec6div .esas .left .arrow .aleft .saga {
  padding-top: 5px;
  padding-left: 13px;
  padding-right: 13px;
}
.sec6 .sec6div .esas .left .arrow .aright {
  width: 50px;
  height: 50px;
  border: 1.5px solid #EEEEEE;
  border-radius: 10px;
  background: #F16214;
  display: flex;
  align-items: center;
}
.sec6 .sec6div .esas .left .arrow .aright .sola {
  padding-left: 13px;
  padding-right: 13px;
}

@media screen and (max-width: 1060px) {
  .sec6 .sec6div .esas .right1 {
    display: none;
  }
  .sec6 .sec6div .esas .left {
    position: relative;
    width: 70%;
    height: 100%;
  }
  .sec6 .sec6div .esas .left .ceo-p {
    color: black;
  }
  .sec6 .sec6div .esas .left::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/lebanese-cuisine-pita-tzatziki-falafel-shawarma-mediterranean-bdbe7ab511e36f378d7bcbee34ff1608.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 650px) {
  .sec6 .sec6div .esas .left::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -23px;
    background-image: url(../images/lebanese-cuisine-pita-tzatziki-falafel-shawarma-mediterranean-bdbe7ab511e36f378d7bcbee34ff1608.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 72%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 970px) {
  .sec6 .sec6div {
    background-image: none;
  }
}
.sec7 {
  height: 500px;
  padding-left: 20%;
  margin-top: 200px;
  margin-bottom: 100px;
  background-image: url(../images/hamburgerbg.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 58%;
  margin: 0 auto;
  display: flex;
  gap: 120px;
}
.sec7 .hamburinfo {
  width: 504px;
  padding-top: 150px;
}
.sec7 .hamburinfo h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */
  color: #FFFFFF;
}
.sec7 .hamburinfo p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #888888;
  margin-top: 15px;
  margin-bottom: 29px;
}
.sec7 .hamburinfo .mail {
  width: 95%;
  height: 60px;
  background: #FFFFFF;
  border-radius: 13px;
  display: flex;
  justify-content: space-between;
}
.sec7 .hamburinfo .mail .inputmail {
  width: 66%;
  height: 30px;
  margin-top: 15px;
  margin-left: 20px;
  outline: none;
  border: none;
}
.sec7 .hamburinfo .mail .inputmail::placeholder {
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  /* identical to box height, or 20px */
  color: #CCCCCC;
}
.sec7 .hamburinfo .mail .subs {
  width: 120px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
  background: #F16214;
  border-radius: 13px;
  padding: 13px 22px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 1640px) {
  .sec7 {
    padding-left: 15%;
  }
}
@media screen and (max-width: 1400px) {
  .sec7 {
    padding-left: 10%;
  }
}
@media screen and (max-width: 1230px) {
  .sec7 {
    padding-left: 5%;
  }
}
@media screen and (max-width: 1160px) {
  .sec7 {
    padding-left: 28%;
  }
  .sec7 .hamburger {
    display: none;
  }
  .sec7 .hamburinfo {
    position: relative;
  }
  .sec7 .hamburinfo p {
    color: wheat;
  }
  .sec7 .hamburinfo .mail {
    position: relative;
    z-index: 1;
  }
  .sec7 .hamburinfo::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -10px;
    background-image: url(../images/hamburger.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.35;
    filter: blur(3px);
  }
}
@media screen and (max-width: 970px) {
  .sec7 {
    padding-left: 20%;
  }
}
@media screen and (max-width: 735px) {
  .sec7 {
    padding-left: 15%;
  }
}
@media screen and (max-width: 650px) {
  .sec7 {
    padding-left: 10%;
  }
}
@media screen and (max-width: 595px) {
  .sec7 {
    padding-left: 5%;
  }
}
@media screen and (max-width: 505px) {
  .sec7 .hamburinfo {
    padding-top: 130px;
  }
}
footer {
  padding-left: 20%;
  padding-right: 20%;
  background: #F5F5F5;
  padding-top: 100px;
}
footer .pson {
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  /* identical to box height, or 26px */
  color: #888888;
  padding-left: 39%;
  margin-bottom: 26px;
}
footer .footer-div {
  border-bottom: 3px solid #DDDDDD;
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  padding-bottom: 10%;
}
footer .footer-div .div1 p {
  width: 270px;
  height: 66px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #888888;
  margin-top: 34px;
  margin-bottom: 34px;
}
footer .footer-div .div1 .media {
  display: flex;
  gap: 23px;
}
footer .footer-div .div2 h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  margin-bottom: 36px;
  margin-top: 6px;
}
footer .footer-div .div2 p {
  width: 216px;
  height: 96px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  color: #888888;
}
footer .footer-div .div3 h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  margin-top: 6px;
  margin-bottom: 36px;
}
footer .footer-div .div3 p {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  color: #888888;
}
footer .footer-div .div4 h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  color: #000000;
  margin-top: 6px;
}
footer .footer-div .div4 p {
  width: 156px;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  /* or 32px */
  color: #888888;
}
footer .footer-div .div4 .p1 {
  margin-top: 36px;
}
footer .footer-div .div4 .p2 {
  margin-bottom: 20px;
}
footer .footer-div .contact {
  background: #fff;
  display: flex;
  width: 100%;
  text-align: center;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  font-size: 13px;
  color: rgba(0, 0, 0, 0.8);
}
footer .footer-div .contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 46px;
}
footer .footer-div .contact-us form {
  display: flex;
}
footer .footer-div .contact-us input {
  font-family: Product Sans;
  background: white;
  border: none;
  padding: 15px 15px;
  flex-grow: 2;
  border-radius: 10px;
  color: #000000;
  height: 20px;
}
footer .footer-div .contact-us input::-webkit-input-placeholder {
  color: rgba(204, 204, 204, 0.8);
}
footer .footer-div .contact-us input:focus {
  outline: none;
}
footer .footer-div .contact-us .btn-submit {
  cursor: pointer;
  background: #f16214;
  border: none;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  gap: 10px;
  position: relative;
  font-family: Product Sans;
  font-weight: 500;
  border: 1px solid transparent;
}
footer .footer-div .contact-us .btn-submit span {
  border-bottom: 2.3px solid #f6f5f5;
  z-index: 1;
  height: 6px;
  width: 6px;
  border-right: 2.3px solid #f3f0ee;
  transform: rotate(-45deg);
  position: absolute;
  top: 15.8px;
  left: 15px;
}
footer .footer-div .contact-us .btn-submit:focus {
  outline: none;
}

@media screen and (max-width: 1560px) {
  footer {
    padding-left: 5%;
    padding-right: 5%;
  }
}
@media screen and (max-width: 1020px) {
  footer .footer-div {
    gap: 147px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 715px) {
  footer .footer-div {
    gap: 100px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 672px) {
  footer .footer-div {
    gap: 50px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 615px) {
  footer .footer-div {
    gap: 13px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 575px) {
  footer .footer-div {
    flex-direction: column;
    padding-left: 27%;
  }
  footer .footer-div .contact {
    width: 80%;
  }
}
@media screen and (max-width: 950px) {
  footer .pson {
    padding-left: 30%;
  }
}
@media screen and (max-width: 700px) {
  footer .pson {
    padding-left: 19%;
  }
}
@font-face {
  font-family: "Product Sans";
  font-weight: 400;
  src: url("../fonts/Product Sans Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Product Sans";
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.main-container {
  width: 100%;
  color: #272042;
  background-color: #FFFFFF;
}
.main-container .secccc {
  width: 100%;
  height: 100%;
  background-image: url(../images/birincii.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0%;
  animation: moveInLeft 1s linear;
}

@media screen and (max-width: 1640px) {
  .main-container .secccc {
    background-image: none;
    position: relative;
  }
}
@media screen and (max-width: 413px) {
  .wrapper {
    padding-left: 2%;
  }
}
@media screen and (max-width: 361px) {
  .wrapper {
    padding-left: 5%;
  }
}
#menuToggle {
  display: none;
  position: relative;
  top: 30px;
  left: 46px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  width: 86%;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  background-color: rgb(249, 119, 6);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

@media screen and (max-width: 1230px) {
  .secccc .navi #menuToggle {
    display: block;
  }
}
